<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn"
	packages="org.apache.logging.log4j.core,com.vicrab.log4j2">
	<appenders>
		<Console name="Console"  target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<Vicrab name="Vicrab" />
	</appenders>

	<loggers>
		<root level="INFO">
			<appender-ref ref="Console" />
			<!-- Note that the Vicrab logging threshold is overridden to the WARN 
				level -->
			<appender-ref ref="Vicrab" level="ERROR" />
		</root>
	</loggers>
</configuration>